{{#each navItems as |navItem|}}
    {{#link-to navItem.route data-test-link=navItem.label}}
        <span data-test-label>{{navItem.label}}</span>

        {{#if (eq navItem.route currentParentRoute)}}
            <div class="highlighted" aria-hidden="true">
                <div class="highlighted__handle"></div>
                <div class="highlighted__body"></div>
            </div>
        {{/if}}
    {{/link-to}}
{{/each}}