@import "reset";
@import "mixins";
@import "variables";

body {
    color: $color-black;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.025rem;
    line-height: 1.2;

    h1 {
        margin-bottom: 1rem;

        font-family: "PT Serif", serif;
        font-size: $font-size-xl;
        font-weight: 700;
        letter-spacing: 0.125rem;
    }

    h2 {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;

        font-size: $font-size-lg;
        font-weight: 700;
    }

    a {
        color: $color-blue;
        text-decoration: none;
    }

    button {
        background-color: $color-gray;
        color: $color-white;
        font-size: $font-size-sm;
        font-weight: 500;
        letter-spacing: 0.175rem;
        text-transform: uppercase;

        border-radius: 0.25rem;
        padding: 1rem 2rem;

        &:disabled {
            cursor: not-allowed;

            color: $color-black;
            opacity: 0.14;
        }

        &:not(:disabled) {
            cursor: pointer;

            &:hover {
                background-color: $color-silver;
                color: $color-black;

                transition: all 0.17s;
            }
        }
    }

    p {
        margin-bottom: 0.5rem;
        line-height: 2rem;
    }

    .my-nav {
        display: flex;
        align-items: center;

        height: calc(4rem - 0.075rem);
        border-bottom: 0.075rem solid $color-silver;
        padding: 0 1rem;

        a {
            margin-right: 1rem;

            color: $color-black;
            font-size: $font-size-md;

            &.active {
                color: $color-orange;
            }

            &:hover {
                color: $color-orange;

                transition: color 0.17s;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .my-main {
        height: calc(100vh - 6rem);
        padding: 1rem;
        overflow-y: auto;
    }
}

/* Components */
@import "components/material-icon";
@import "components/skill-pill";
@import "components/students-grid";
@import "components/student-details";

/* Route Templates */
@import "templates/index";
@import "templates/search";
@import "templates/search/results";
@import "templates/students";
@import "templates/students/student";