$color-black: rgba(0, 0, 0, 0.87);
$color-blue: #0074d9;
$color-navy: #001f3f;
$color-orange: #ffa000;
$color-silver: #e4e4e4;

$font-size-xl: 2.56rem;
$font-size-lg: 1.6rem;
$font-size-md: 1rem;
$font-size-sm: 0.625rem;
$font-size-xs: 0.391rem;