.my-route__search {
    .my-form {
        .selected-skills,
        .remaining-skills {
            margin: 0.5rem 0 1rem;

            & > span {
                margin-bottom: 0.5rem;

                display: block;
            }
        }
    }
}