.my-route__students {
    .my-students {
        display: flex;
        flex-direction: column;

        height: 100%;
        overflow-y: hidden;

        .students-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1.5rem;
        }
    }
}