.results-grid {
    height: 100%;
    padding-right: 1rem;
    overflow-y: auto;

    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 1rem;

    &__card {
        width: 100%;
        height: 100%;
        border: $line-thin solid $color-silver;
        border-radius: 0.25rem;

        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        color: $color-black;

        &__header {
            padding: 0.5rem 1rem;

            display: flex;
            align-items: center;

            &__score {
                margin-right: 1rem;

                color: $color-orange;
                font-size: $font-size-xl;
            }

            &__name {
                flex: 1;

                color: $color-black;
                font-size: $font-size-lg;
                font-weight: 700;
                letter-spacing: 0.0625rem;
            }
        }

        &__body {
            padding: 0.5rem 1rem 1rem 1rem;

            .section {
                margin: 1.6rem 0;

                &:first-of-type {
                    margin-top: 0.5rem;
                }

                &:last-of-type {
                    margin-bottom: 0.5rem;
                }
            }

            &__experiences,
            &__skills {
                & > span {
                    margin-bottom: 0.8rem;

                    display: block;
                }
            }

            &__experiences {
                .item {
                    margin-bottom: 1rem;

                    &__achievement {
                        margin-left: 2rem;

                        font-size: $font-size-sm;

                        .highlighted {
                            background-color: $color-yellow;
                        }
                    }
                }
            }

            &__skills {
                .my-list {
                    font-size: $font-size-sm;

                    .highlighted {
                        background-color: $color-yellow;
                    }
                }
            }
        }

        &:hover {
            @include box-shadow(2);
            background-color: $color-light-silver;

            transition: all 0.1s ease-in;
        }
    }
}

.media-xs,
.media-sm {
    .results-grid {
        grid-template-columns: 1fr;
    }
}

.media-md,
.media-lg {
    .results-grid {
        grid-template-columns: repeat(2, minmax(24rem, 1fr));
    }
}

.media-lg {
    .results-grid {
        grid-template-columns: repeat(3, minmax(24rem, 1fr));
    }
}

.media-xl {
    .results-grid {
        grid-template-columns: repeat(3, minmax(32rem, 1fr));
    }
}

.media-xxl {
    .results-grid {
        grid-template-columns: repeat(4, minmax(32rem, 1fr));
    }
}