.students-grid {
    height: 100%;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(3, minmax(32rem, 1fr));
    grid-auto-rows: max-content;
    grid-gap: 1rem;

    &__card {
        $image-container-width: 8rem;
        $data-container-width: calc(100% - 8rem);

        width: 100%;
        height: 8rem;
        border: $line-thin solid $color-silver;
        border-radius: 0.25rem;

        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &__header {
            $image-width: 6rem;

            width: $image-container-width;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            img, .material-icons {
                width: $image-width;
                height: $image-width;
            }

            img {
                object-fit: contain;
                border-radius: $image-width;
            }

            .material-icons {
                border: $line-thin solid $color-orange;
                border-radius: $image-width;

                color: $color-gray;
                font-size: calc(0.75 * #{$image-width});
                opacity: 0.87;
            }
        }

        &__body {
            width: calc(#{$data-container-width} - 1.75rem);
            height: 100%;
            padding: 0 1rem 0 0.75rem;

            display: flex;
            flex-direction: column;
            justify-content: center;

            color: $color-black;

            &__name {
                margin-bottom: 0.5rem;

                font-family: "PT Serif", serif;
                font-size: $font-size-lg;
                font-weight: 700;
                letter-spacing: 0.0625rem;
            }

            &__email, &__phone {
                display: flex;
                align-items: center;

                .material-icons {
                    opacity: 0.87;
                    margin-right: 0.5rem;
                }

                a {
                    @include ellipsis;
                }
            }

            &__email {
                margin-bottom: 0.25rem;
            }
        }

        &:hover {
            @include box-shadow(2);
            background-color: $color-light-silver;

            transition: all 0.1s ease-in;
        }
    }
}

.media-sm,
.media-md {
    .students-grid {
        grid-template-columns: 1fr;

        &__card {
            $image-container-width: 100%;

            &__header {
                width: $image-container-width;

                color: $color-black;
                font-family: "PT Serif", serif;
                font-size: $font-size-xl;
                font-weight: 700;
                letter-spacing: 0.125rem;
            }

            &__body {
                display: none;
            }
        }
    }
}

.media-lg {
    .students-grid {
        grid-template-columns: 1fr;

        &__card {
            $data-container-width: 100%;

            &__header {
                display: none;
            }

            &__body {
                width: $data-container-width;
                padding: 0 2rem;
            }
        }
    }
}