.my-route__students__student {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5rem;

    .my-students {
        overflow-y: auto;

        .students-grid {
            grid-template-columns: 1fr;
            grid-gap: 1rem;

            padding-right: 1rem;
        }
    }
}