.my-route__students__student {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;

    .my-students {
        overflow-y: auto;

        .students-grid {
            padding-right: 0.5rem;

            grid-template-columns: minmax(32rem, 1fr);
        }
    }
}

.media-sm,
.media-md {
    .my-route__students__student {
        grid-template-columns: 8rem auto;

        .my-students .students-grid {
            grid-template-columns: 1fr;
        }
    }
}

.media-lg {
    .my-route__students__student {
        grid-template-columns: 24rem auto;

        .my-students .students-grid {
            grid-template-columns: 1fr;
        }
    }
}