<nav class="my-nav">
    {{#link-to "index"}}
        Home
    {{/link-to}}

    {{#link-to "students"}}
        Students
    {{/link-to}}

    {{#link-to "search"}}
        Search
    {{/link-to}}
</nav>

<main class="my-main {{currentRoute}}">
    {{outlet}}
</main>