<div class="my-application {{media "classNames"}}">
    <nav
        data-test-nav="Main navigation"
        class="my-nav"
        aria-label="Main navigation"
    >
        {{#link-to "index" data-test-link="Home"}}
            Home
        {{/link-to}}

        {{#link-to "students" data-test-link="Students"}}
            Students
        {{/link-to}}

        {{#link-to "search" data-test-link="Search"}}
            Search
        {{/link-to}}
    </nav>

    <main class="my-main {{currentRoute}}">
        {{outlet}}
    </main>

    <footer class="my-footer">
        <span>Created by <a href="https://www.linkedin.com/in/ijlee2/" target="_blank" rel="noopener noreferrer">Isaac J. Lee</a> © 2019</span>
    </footer>
</div>