<div class="my-application {{media "classNames"}}">
    <header>
        <NavigationDrawer
            @name="Main Navigation"
            @navItems={{array
                (hash route="index" label="Home")
                (hash route="students" label="Students")
                (hash route="search" label="Search")
            }}
        />
    </header>

    <main class="my-main {{currentRoute}}">
        {{outlet}}
    </main>

    <footer class="my-footer">
        <span>Created by <a href="https://www.linkedin.com/in/ijlee2/" target="_blank" rel="noopener noreferrer">Isaac J. Lee</a> © 2019</span>
    </footer>
</div>