<h1>Home</h1>

<p>
    This demo uses <a href="https://ember-animation.github.io/ember-animated/" target="_blank">Ember Animated</a>, <a href="https://embermap.github.io/ember-data-storefront/" target="_blank">Ember Data Storefront</a>, and <a href="https://github.com/sukima/ember-oo-modifiers" target="_blank">Ember OO Modifiers</a>. It is certainly ambitious.
</p>


<h2>References</h2>

<ul>
    <li>
        <a href="https://github.com/embermap/emberconf2019-real-world-animations" target="_blank">EmberConf 2019 Real-World Animations</a>, by Sam Selikoff and Ryan Toronto
    </li>
    <li>
        <a href="https://github.com/embermap/emberconf2019-robust-data-fetching" target="_blank">EmberConf 2019 Robust Data Fetching</a>, by Sam Selikoff and Ryan Toronto
    </li>
</ul>