<h1>Students</h1>

<ul class="list-of-students">
    {{#each (sort-by "lastName" "firstName" model) as |student|}}
        <li>
            {{student-card
                student=student
            }}
        </li>
    {{/each}}
</ul>